table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: solid 2px black;
  text-align: left;
  padding: 8px;
}

body {
  display: flex;
  place-items: center;
  flex-direction: column;
}
p, h1{
  text-align: center;
}


.highlight {
  background-color: yellow;
}